:root {
    --color-green: #C4EF17;
    --color-background-img: #242020;
}

body{
    background-color: #010101;;
}

.header, .header-nav, .header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    width: 45%;
}

.header-logo p{
    color: #CACACA;
    font-family: Teko;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.1px;
}

.header-logo{
    padding-left: 40px;
}

.header-nav li a{
    color: #A9ADB9;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding-right: 20px;
}

.header-right img{
    cursor: pointer;
}

.header-right button{
    background: rgba(255, 255, 255, 0.06);
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.55px;
    text-transform: uppercase;
    padding: 15px 30px;
    border-style: none;
    cursor: pointer;
}

.header{
    border-bottom: 2px solid rgba(92, 99, 123, 0.19);
    height: 80px;
}

.landing-page{
    max-width: 1400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: auto;
    margin-top: 200px;
}

.test-img{
    background-color: #242020;
    width: 684px;
    height: 639px;
}

.mail-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 188px;
    height: 172px;
    top: 73%;
    background-color: var(--color-green);
    color: #000000;
}

.mailus-text{
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 15px;
}

.image-off{
    background-color: #242020;
    position: relative;
    left: 80%;
    top: 45%;
    width: 272px;
    height: 229px;
}




